@import "./dashboard/midone_app.css";
@import "./all/select2.min.css";
@import "./dashboard/image-uploader.css";
@import "./all/alertify.css";
@import "./all/select2-custom.css";
@import "./all/app.css";
@import "./all/font-awesome_6.2.1_all.css";

body {
    min-width: 320px!important;
}

.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-counter li {
    color: #35cb4c;
}

.create_category_modal {
    z-index: 99!important;
}

.dropdown-menu-main-top {
    z-index: 999!important;
}

iframe, object, embed{max-width: 100%;}

.form-section {
    display: none;
}

.form-section.current{
    display: inline;
}

.parsley-errors-list{
    color: red;
}

.actual-btn-label {
    background-color: #FF5656FF;
    color: white;
    padding: 0.3rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}
