.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-counter li {
    color: #35cb4c;
}

.create_category_modal {
    z-index: 99!important;
}

.dropdown-menu-main-top {
    z-index: 999!important;
}

