.carousel-product {
    position: relative;
    display: block;
    box-shadow: rgba(49,53,59,0.12) 0 1px 6px 0;
    margin-bottom: 24px;
    background-color: white;
}

.carousel-product .card {
    display: block;
    border-radius: 9px;
    width: 150px;
    overflow: visible;
    height: fit-content;
}

.carousel-product .card .a-link {
    text-decoration: none;
}

.carousel-product .card-body {
    width: 150px;
    height: 125px;
}

.carousel-product .image-product {
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border: none;
    height: 150px;
}

.carousel-product .add-to-cart {
    position: absolute; !important;
    right: 0; !important;
    top: 0; !important;
}

.carousel-product .add-to-cart {
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background: rgb(var(--color-primary));
    height: 30px;
    width: 30px;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
}

.add-to-cart {
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background: rgb(250, 112, 112);
    height: 30px;
    width: 30px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart i {
    color: #ffffff;
}

.carousel-product .tag-img {
    height: 20px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -0.5rem;
}

.carousel-product .tag-text {
    margin-top: -16px;
    color: white;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-product .date-option {
    position: absolute;
    height: 20px;
    bottom: 0;
    width: 150px;
    border-radius: 0 0 9px 9px;
}

.carousel-product .date-post {
    color: white;
    font-size: small;
    text-align: center;
}

.carousel-product .harga {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    margin-bottom: 4px;
    color: rgba(49, 53, 59, 0.96);
    opacity: 1;
    font-size: 1rem;
    font-weight: bold;
    align-items: flex-end;
    line-height: 1.43;
}

.carousel-product .product-name {
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 0.86rem;
    color: rgba(49, 53, 59, 0.96);
    max-width: 100%;
    max-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.owner-info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.85rem;
    line-height: 18px;
    margin-bottom: 4px;
}

.owner-pp {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-right: 2px;
    vertical-align: middle;
}

.owner-name {
    height: 20px;
    min-width: 101px;
    max-width: 200px;
    position: absolute;
    top: calc(84% - 10px);
    left: 60%;
    transform: translateX(-50%);
    overflow: hidden;
}

.owner-name:before {
    content: attr(data-hover-before);
    transform: translate(0);
    color: #ff6b6b;
    left: 10%;
    top: 10%;
    position: absolute;
    transition: 0.5s;
}

.owner-name:after {
    content: attr(data-hover-after);
    position: absolute;
    top: 100%;
    left: 10%;
    transition: 0.5s;
}

.carousel-product .card:hover .owner-name:before {
    top: -100%;
}

.carousel-product .card:hover .owner-name:after {
    top: 0;
}

.carousel-detail-product .card-detail:hover .owner-name:before {
    top: -100%;
}

.carousel-detail-product .card-detail:hover .owner-name:after {
    top: 0;
}

.carousel-product .post-time-tag{
    position: absolute;
    z-index: 7;
    top: 3px;
    left: 0.5rem;
    background: rgba(0, 0, 0, 0.3)
}

.carousel-product .price-tag {
    font-size: 10px;
}

.carousel-product .owl-prev {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -19%;
    left: 0;
    display: block !important;
    border:0 solid black;
}
.carousel-product .owl-next {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -19%;
    right: 0;
    display: block !important;
    border:0 solid black;
}

.carousel-product .owl-prev i {color: rgb(var(--color-primary-soft));}
.carousel-product .owl-next i {color: rgb(var(--color-primary-soft));}
