/* Default colors */
:root {
    --color-primary: 255 86 86;
    --color-primary-soft: 252 104 104;
    --color-secondary: 226 232 240;
    --color-success: 132 204 22;
    --color-info: 6 182 212;
    --color-warning: 250 204 21;
    --color-pending: 249 115 22;
    --color-danger: 220 38 38;
    --color-light: 241 245 249;
    --color-dark: 30 41 59;
    --color-slate-50: 248 250 252;
    --color-slate-100: 241 245 249;
    --color-slate-200: 226 232 240;
    --color-slate-300: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-500: 100 116 139;
    --color-slate-600: 71 85 105;
    --color-slate-700: 51 65 85;
    --color-slate-800: 30 41 59;
    --color-slate-900: 15 23 42;
}

*{
    margin: 0;
    padding: 0;
}

html , body {
    overflow-x: hidden;
}

#main-app {
    padding: 0;
    margin: 0;
    min-width: 500px;
    background-color: rgba(238, 238, 238, 0.93);
}


/*MIN WIDHT*/
@media (min-width: 640px) {

}

@media (min-width: 768px) {
    .login-btn {
        display: block;
    }
}

@media (min-width: 1024px) {
    .search-input {
        width: 300px;
    }
}

@media (min-width: 1280px) {
    .search-input {
        width: 500px;
    }
}

@media (min-width: 1526px) {
    .search-input {
        width: 700px;
    }
}


/*MAX WIDHT*/
@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1526px) {
    .slick-wrapper .slick-prev{
        top: -25%;
    }
    .slick-wrapper .slick-next{
        top: -25%;
    }
}
